/*------------------------
------- Buttons css ------
--------------------------*/

.btn {
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 10px;
  font-size: 16px;
  font-family: var(--bs-heading-font-family);
  font-weight: 600;
}

.btn-outline-light {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-gradient: none;

  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid var(--bs-btn-border-color);
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  transition: color 0.4s ease, border-color 0.4s ease, background-color 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--bs-btn-hover-bg);
    border-radius: inherit;
    right: 0;
    width: 0%;
    top: 0;
    height: 100%;
    transition: width 0.4s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--bs-btn-hover-color);
    border-color: var(--bs-btn-hover-border-color);

    &::after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);
  }

  &:active {
    color: var(--bs-btn-active-color) !important;
    background-color: var(--bs-btn-active-bg) !important;
    border-color: var(--bs-btn-active-border-color) !important;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.65;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    color: var(--bs-btn-disabled-color);
  }

}

.btn-outline {
  color: var(--bs-primary);
  transition: all 0.3s ease-out;
  border: 1px solid var(--bs-primary);
  --bs-btn-padding-y: 6px;
  --bs-btn-padding-x: 14px;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 400;
}

.btn-primary {
  background: var(--bs-primary);
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    color: #FFF !important;
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }

  &:hover {
    color: #FFF !important;
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }
}


.btn-light {
  // Base variables
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb, 13, 110, 253);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: #ccc;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #dee2e6;

  position: relative;
  z-index: 2;
  overflow: hidden;
  border: 1px solid var(--bs-btn-border-color);
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  transition: color 0.4s ease, border-color 0.4s ease, background-color 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--bs-btn-hover-bg);
    border-radius: inherit;
    right: 0;
    width: 0%;
    top: 0;
    height: 100%;
    transition: width 0.4s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--bs-btn-hover-color);
    border-color: var(--bs-btn-hover-border-color);

    &::after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);
  }

  &:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.65;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    color: var(--bs-btn-disabled-color);
  }
}




.slider-btn {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  background: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  color: var(--bs-white);
  font-size: 18px;
  transition: all 0.3s ease-out;

  &:hover {
    background: var(--bs-body-bg);
    color: var(--bs-primary);
  }
}

.slider-btn.swiper-button-disabled {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;

  text-decoration: none;
  color: var(--bs-primary);
  transition: all 0.3s ease;

  i {
    padding-inline-start: 10px;
    transition: all 0.3s ease;
  }

  &:hover {
    letter-spacing: 1.2px;

    i {
      transform: rotate(-45deg);
    }
  }
}

.btn-md {
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 14px;
}

.show-more-btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.video-btn {
  --size: 65px;
  height: var(--size);
  width: var(--size);
  line-height: var(--size);
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 26px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: inline-block;
  z-index: 3;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(var(--bs-primary-rgb), 0.4);
    -webkit-animation: rippleprimary 2s linear infinite;
    animation: rippleprimary 2s linear infinite;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(var(--bs-primary-rgb), 0.4);
    -webkit-animation: rippleprimary 2s linear 1s infinite;
    animation: rippleprimary 2s linear 1s infinite;
  }

  &:hover {
    color: #fff;
  }

}

@keyframes rippleprimary {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  75% {
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0
  }
}
