/*****************************/
/******** Pagination *********/
/****************************/
.pagination {
  --bs-pagination-bg: var(--bs-white);
  --bs-pagination-color: var(--bs-heading-color);
  --bs-pagination-active-color: var(--bs-white);
  --bs-pagination-active-bg: var(--bs-primary);
  --bs-pagination-active-border-color: var(--bs-primary);
  --bs-pagination-hover-color: var(--bs-white);
  --bs-pagination-hover-bg: var(--bs-primary);
  --bs-pagination-focus-color: var(--bs-white);
  --bs-pagination-focus-bg: var(--bs-primary);
  --bs-pagination-padding-x: 4px;
  --bs-pagination-padding-y: 7px;
  transition: all 0.4s ease;
  text-align: center;

  .page-link {
    height: 40px;
    width: 40px;
    border: 1px solid var(--bs-border-color);

    &:hover {
      border: 1px solid var(--bs-primary);
    }
  }

  .page-link.active {
    border: 1px solid var(--bs-primary);
  }

  .page-link:focus {
    box-shadow: none;
  }

  .page-item:not(:first-child) .page-link {
    margin-left: 0;
    border-left: 0;
  }
}


.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
